@keyframes createBox {
    from {
        transform: scale(0);
    }

    to {
        transform: scale(1);
    }
}

@font-face {
    font-family: 'HCo Gotham';
    src: url("https://cdn.cybersole.io/fonts/woff2/Gotham-Medium_Web.woff2") format("woff2"), url("https://cdn.cybersole.io/fonts/woff/Gotham-Medium_Web.woff") format("woff");
    font-weight: 500;
    font-style: normal;
}

* {
    /* font-family: monospace; */
    /* font-family: Arial, sans-serif; */
    font-family: 'HCo Gotham', sans-serif;
    /* animation: createBox .25s; */
}

body {
    margin: 0px;
    padding: 0px;
    background-color: white;
    overflow-x: hidden;
}

.title {
    height: 50px;
    padding: 5px;

    display: grid;
    grid-template-columns: 100px 1fr 1fr 120px;

    -webkit-touch-callout: none;
    /* iOS Safari */
    -webkit-user-select: none;
    /* Safari, Chrome, Opera, Samsung */
    -khtml-user-select: none;
    /* Konqueror HTML */
    -moz-user-select: none;
    /* Firefox */
    -ms-user-select: none;
    /* Edge, IE */
    user-select: none;
    /* Modern browsers */

    /* background-color: #6a4a3a; */
    border-bottom: solid 2px #D7D7D7;
    background-color: white;
}

.title>h3 {
    margin: auto 10px;
}

.title>b {
    margin: auto;
    cursor: pointer;
}

.container {
    /* margin: 10px; */

    /* background-color: #FEEAA9; */
    /* border: solid 2px #3C280D; */
    border-radius: 10px;
    height: calc(100vh - 50px - 10px - 20px - 15px);

    display: grid;
    grid-template-rows: 1fr;
}

.container>h2 {
    margin: auto;
    color: white;
}

.but {
    display: inline;
    /* color: white; */
    background-color: transparent;
    border-radius: 25px;
    border: solid 2px #D7D7D7;
    /* border-color: #3C280D; */
    /* background-color: #378805; */
    /* background-color: #1C4966; */
    /* transition: all 0.2s linear 0s; */
    cursor: pointer;

    font-size: 12px;
    width: 120px;
}

.but>b {
    display: none;
}

.but:hover>b {
    display: inline;
}


#login {
    width: 50%;
    /* height: 100px !important; */
    margin: calc(50vh - 150px) auto;

    display: grid;
    grid-template-rows: 50px 50px 50px 50px;
}

#login>* {
    margin: 10px;
}

#lb {
    -webkit-transition: width 0.1s ease-in-out, height 0.1s ease-in-out, margin 0.1s ease-in-out, opacity 0.1s ease-in-out;
    -moz-transition: width 0.1s ease-in-out, height 0.1s ease-in-out, margin 0.1s ease-in-out, opacity 0.1s ease-in-out;
    -o-transition: width 0.1s ease-in-out, height 0.1s ease-in-out, margin 0.1s ease-in-out, opacity 0.1s ease-in-out;
    transition: width 0.1s ease-in-out, height 0.1s ease-in-out, margin 0.1s ease-in-out, opacity 0.1s ease-in-out;

    width: calc(100% - 40px);
    height: 40px;
    margin: 20px;
    opacity: 0.9;
}

#lb:hover {
    width: calc(100% - 36px);
    height: 44px;
    margin: 18px;
    opacity: 1;
}

#password {
    /* text-security: disc; */
    -webkit-text-security: disc;
    -moz-text-security: disc;
}

#lError {
    display: flex;
    justify-content: center;
    color: #D0312D;
    margin: auto;
}



.form__group {
    /* animation: createBox .25s; */

    position: relative;
    /* padding: 5px 0 0; */
    margin: 15px 18px 5px;
    width: calc(100% - 36px);
}

.form__field {
    font-family: inherit;
    width: 100%;
    border: 0;
    border-bottom: 2px solid grey;
    outline: 0;
    font-size: 15px;
    color: black !important;
    padding: 7px 0;
    background: transparent;
    transition: border-color 0.2s;
    height: 18px;
}

.form__field::placeholder {
    color: transparent;
}

.form__field:placeholder-shown~.form__label {
    font-size: 12px;
    cursor: text;
    top: -10px;
}

.form__label {
    position: absolute;
    top: -10px;
    display: block;
    transition: 0.2s;
    font-size: 12px;
    color: black;
    cursor: text;
}

.form__field:focus {

    padding-bottom: 6px;
    /* font-weight: 700; */
    border-width: 3px;
    /* border-image: linear-gradient(to right, #11998e,#38ef7d); */
    border-image-slice: 1;
}

.form__field:focus~.form__label {
    position: absolute;
    top: -10px;
    display: block;
    transition: 0.2s;
    font-size: 12px;
    /* color: #11998e; */
    /* font-weight:700;     */
}

/* .form__field:valid {
top: 10px;
} */

/* reset input */
.form__field:required {
    /* border-color:green; */
}

.form__field:invalid {
    border-color: #3C280D;
}

.form__field:invalid~.form__label {
    top: 10px;
}

.form__field:focus~.form__label {
    top: -10px;
}


.info {
    display: grid;
    /* grid-template-columns: 40% 60%; */
    grid-template-rows: 54px auto;
    /* background-color: #5ca904; */
    border-radius: 5px;
    margin: auto;
    margin-top: 30px;
    width: 50%;
    float: right;
    background-color: beige;
}

.info>img {
    /* height: 30vh; */
    border-radius: 10px;
    width: 35vw;
    margin: auto;
}

/* .reverse > img {
    height: 30vh;
    border-radius: 10px;
    width: 30%;
} */
.info>* {
    margin: 100px;
}

.info>b {
    color: #0e8337;
    font-size: 45px;
    text-align: center;
}


.info>p {
    /* background-color: white; */
    padding: 10px;
    border-radius: 5px;
    font-size: 20px;
    margin-left: 70px;
    margin-top: 170px;
}

.soil {
    margin: auto;
    width: 50%;
    float: right;
    margin-top: 30px;
}

.soil>img {
    /* height: 30vh; */
    border-radius: 10px;
    width: 50vw;
    margin: auto;
}

.reverse {
    display: grid;
    grid-template-columns: 60% 40%;
    /* background-color: #5ca904; */
    border-radius: 5px;
}

.product {
    display: grid;
    /* padding: 50px; */
    grid-template-rows: auto 50px auto;
    /* height: 450px; */
    animation: logoalive 5s linear forwards;
}

.product>img {
    width: 100vw;
    /* border-radius: 20px; */
    margin: auto;

}

.product::before {
    content: '';
    position: absolute;
    top: 10;
    left: 0;
    width: 100%;
    height: 92%;
    background-image: linear-gradient(to bottom, rgba(43, 150, 50, 0.274) 0%, rgb(45, 64, 47) 100%);
    z-index: 1;
}

.vines {
    display: grid;
    /* padding: 50px; */
    grid-template-rows: auto 510px auto;
    /* height: 450px; */
    background-image: url("/images/vines.png");
    background-position: center;
}

.vines>b {
    margin: auto;
    margin-top: 50px;
    font-size: 60px;
    color: #009933;

}

.vines>p {
    margin: 100px auto 50px;
    width: 50vw;
    font-size: 25px;
    text-align: center;
}

.buy {
    display: grid;
    /* padding: 50px; */
    grid-template-rows: auto 510px auto;
    /* height: 450px; */
    background-image: url("/images/bottomimage.avif");
    background-size: cover;
    background-position-y: bottom;
}

.buy>b {

    margin: auto;
    margin-top: 50px;
    font-size: 60px;
    color: #000000;
    font-family: serif;
    font-weight: bold;
    -webkit-text-stroke: 1px rgba(4, 106, 50, 0.804);

}

.buy>p {
    margin: 100px auto 50px;
    width: 50vw;
    font-size: 25px;
    text-align: center;
}

.sensordiv {
    width: 85%;
    margin: auto;
    margin-top: 600px;
    text-align: center;
}

.sensordiv>b {
    color: #18cb54;
    font-size: 35px;
}

.sensors {
    height: 300px;
    display: grid;
    grid-template-columns: repeat(4, 25%);
    margin-top: 50px;
}

.sensor {
    margin: 10px;
    text-align: center;
    display: grid;
    grid-template-rows: 120px 30px auto;
}

.sensor>img {
    height: 100px;
    margin: auto;
}

.sensor>b {
    /* color: #378805; */
    margin: auto;
    margin-top: 10px;
}

.plant-container {
    position: center;
    width: 50%;
    height: 360px;
}

.dead-plant {
    position: absolute;
    background-position: center;
    width: 100%;
    height: 50%;
    background-image: url('/images/deadplant.png');
    background-size: 100px;
    opacity: 1;
    animation: revive 15s linear forwards;
    animation-iteration-count: infinite;
}

.living-plant {
    position: absolute;
    background-position: center;
    width: 100%;
    height: 50%;
    background-image: url('/images/livingplant.png');
    background-size: 100px;
    opacity: 0;
    animation: alive 15s linear forwards;
    animation-iteration-count: infinite;
}

@keyframes revive {
    0% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}

@keyframes logoalive {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 0.5;
    }

    100% {
        opacity: 1;
    }
}


@keyframes alive {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}